@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #06b6d4;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
